# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [33]:
cars1 = pd.read_csv('C:\Analytix\Assignments\Dataset\cars1.csv')
cars2 = pd.read_csv('C:\Analytix\Assignments\Dataset\cars2.csv')

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [34]:
cars1 = cars1.dropna(axis=1)

### Step 5. What is the number of observations in each dataset?

In [35]:
print("The number of observations:")
print("Cars1: {}, Cars2: {}".format(cars1.shape[0],cars2.shape[0]))

The number of observations:
Cars1: 198, Cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [36]:
cars = pd.concat([cars1,cars2], axis=0)
cars.reset_index(drop=True,inplace=True)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [37]:
owners = np.random.randint(15000,73000,398)
owners

array([49344, 52137, 21334, 45798, 41772, 61245, 26040, 25121, 68480,
       49246, 43497, 26100, 29651, 51873, 23200, 70462, 38957, 35068,
       18014, 54700, 21464, 68427, 39913, 71458, 26261, 16665, 23931,
       40104, 63500, 17491, 67456, 71665, 56065, 66520, 30485, 57704,
       25044, 18146, 47505, 59452, 35001, 37921, 39065, 36401, 25345,
       31624, 16191, 36225, 44418, 69267, 51477, 45271, 39530, 67199,
       67044, 72088, 26664, 33400, 65293, 65706, 15352, 34302, 57439,
       17152, 52923, 67178, 45401, 46420, 60713, 68599, 62108, 51028,
       61217, 24864, 38247, 71358, 20973, 20631, 50531, 21427, 65603,
       57708, 27362, 26974, 45618, 63156, 31237, 48140, 22558, 42335,
       45915, 44813, 32066, 67081, 68322, 20297, 62495, 51153, 72761,
       69984, 48224, 21873, 62606, 48643, 16597, 39136, 69784, 63348,
       52152, 63019, 28866, 46476, 65566, 16667, 37803, 60504, 44520,
       39230, 36685, 17523, 49305, 52861, 39080, 45735, 53286, 19057,
       60117, 37731, 30211, 46652, 34506, 48376, 47893, 19573, 69168,
       71553, 72682, 72761, 39290, 63043, 24911, 45007, 59994, 54739,
       63531, 44782, 25778, 62401, 50061, 54962, 56207, 26691, 24547,
       55248, 72353, 19942, 52843, 43742, 31059, 56264, 38104, 52865,
       32706, 55174, 30100, 39757, 50108, 71704, 62898, 38852, 38839,
       30115, 29716, 59321, 72055, 72954, 62973, 41908, 29329, 15556,
       54848, 28030, 47844, 34830, 45656, 44180, 15060, 34212, 59953,
       34190, 44265, 47994, 34623, 44366, 61209, 19046, 22423, 65895,
       72704, 56797, 28121, 36578, 55988, 49205, 55811, 71625, 25998,
       20941, 27103, 25423, 38235, 23960, 35862, 32011, 30336, 15137,
       64579, 54888, 16601, 45726, 57080, 65056, 43398, 24498, 26478,
       72084, 48835, 58559, 35939, 47093, 45911, 42593, 15551, 46689,
       48459, 53471, 56619, 18202, 38007, 55808, 64483, 34051, 35943,
       41333, 46378, 26774, 72004, 53232, 19865, 35024, 68184, 18077,
       23178, 61425, 19612, 64258, 41338, 15030, 24540, 46555, 72883,
       64497, 26497, 62815, 56919, 49396, 22838, 47177, 64906, 57154,
       53109, 44420, 23005, 49341, 53533, 49059, 33463, 21409, 65218,
       19627, 26517, 35734, 32754, 50835, 28523, 32098, 23519, 23659,
       24904, 57288, 45343, 64557, 26523, 53846, 42538, 45159, 26277,
       44465, 54409, 16155, 24674, 67664, 52447, 16924, 34615, 57305,
       68020, 32907, 36888, 60401, 26001, 53538, 58490, 71764, 28921,
       20488, 27529, 70008, 37470, 48962, 49907, 20132, 15444, 37757,
       26350, 30919, 25999, 17964, 44348, 60749, 35749, 24971, 54038,
       35727, 69081, 19339, 37143, 25298, 39713, 64608, 15814, 18196,
       19611, 60592, 19019, 15077, 43166, 55069, 54178, 35888, 21831,
       27673, 47818, 42372, 50803, 50409, 38392, 47608, 37042, 27610,
       23664, 70342, 45914, 34549, 18640, 40737, 33900, 61704, 38377,
       71598, 60194, 31210, 34014, 17060, 45252, 60927, 48760, 16091,
       51331, 53009, 16397, 40975, 35986, 59234, 33448, 68771, 27532,
       16959, 27266, 51637, 51413, 60261, 22191, 55787, 15020, 29329,
       59030, 36765])

### Step 8. Add the column owners to cars

In [38]:
cars['owners'] = owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,49344
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,52137
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,21334
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,45798
4,17.0,8,302,140,3449,10.5,70,1,ford torino,41772
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,61245
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,26040
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,25121
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,68480
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,49246
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,43497
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,26100
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,29651
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),51873
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,23200
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,70462
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,38957
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,35068
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,18014
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,54700
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,21464
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,68427
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,39913
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,71458
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,26261
25,10.0,8,360,215,4615,14.0,70,1,ford f250,16665
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,23931
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,40104
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,63500
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,17491
...,...,...,...,...,...,...,...,...,...,...
368,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon,38377
369,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door,71598
370,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback,60194
371,29.0,4,135,84,2525,16.0,82,1,dodge aries se,31210
372,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix,34014
373,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura,17060
374,23.0,4,151,?,3035,20.5,82,1,amc concord dl,45252
375,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l,60927
376,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l,48760
377,31.0,4,91,68,1970,17.6,82,3,mazda glc custom,16091
378,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,51331
379,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,53009
380,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,16397
381,36.0,4,107,75,2205,14.5,82,3,honda accord,40975
382,34.0,4,108,70,2245,16.9,82,3,toyota corolla,35986
383,38.0,4,91,67,1965,15.0,82,3,honda civic,59234
384,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),33448
385,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,68771
386,25.0,6,181,110,2945,16.4,82,1,buick century limited,27532
387,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),16959
388,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,27266
389,22.0,6,232,112,2835,14.7,82,1,ford granada l,51637
390,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,51413
391,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,60261
392,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,22191
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,55787
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,15020
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,29329
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,59030
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,36765