# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [38]:
import pandas as pd
import numpy as np

### Step 2. Import the datasets *student-mat* and *student-por* and merge them.

In [39]:
df1 = pd.read_csv('C:\Analytix\Git\Analytix\CaseStudy\Basic-Pandas\Dataset\student-mat.csv')
df2 = pd.read_csv('C:\Analytix\Git\Analytix\CaseStudy\Basic-Pandas\Dataset\student-por.csv')
df = pd.concat([df1,df2])
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

### Step 3. Assign it to a variable called df.

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [40]:
temp = df.loc[:, 'school' : 'guardian']
temp.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother

### Step 5. Create a lambda function that captalize strings.

In [41]:
lambda x: x.str.upper()

### Step 6. Capitalize both Mjob and Fjob

In [42]:
temp[['Fjob', 'Mjob']] = temp[['Fjob', 'Mjob']].apply(lambda x: x.str.upper())
temp.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father
5,GP,M,16,U,LE3,T,4,3,SERVICES,OTHER,reputation,mother
6,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,home,mother
7,GP,F,17,U,GT3,A,4,4,OTHER,TEACHER,home,mother
8,GP,M,15,U,LE3,A,3,2,SERVICES,OTHER,home,mother
9,GP,M,15,U,GT3,T,3,4,OTHER,OTHER,home,mother

### Step 7. Print the last elements of the data set.

In [43]:
temp.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
648,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,course,mother

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [44]:
df[['Fjob', 'Mjob']] = df[['Fjob', 'Mjob']].apply(lambda x: x.str.upper())
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,SERVICES,OTHER,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,OTHER,TEACHER,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,SERVICES,OTHER,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,OTHER,OTHER,...,5,5,1,1,1,5,0,14,15,15

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [45]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

df['legal_drinker'] = df['age'].apply(majority)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,3,2,1,2,5,4,6,10,10,False

### Step 10. Multiply every number of the dataset by 10.

In [46]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
categorical = ['object']
temp = df.select_dtypes(include=numerics).apply(lambda x: x*10)
pd.concat([df.select_dtypes(exclude=numerics),temp],axis=1, sort=False)

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,U,GT3,A,AT_HOME,TEACHER,course,mother,yes,...,40,30,40,10,10,30,60,50,60,60
1,GP,F,U,GT3,T,AT_HOME,OTHER,course,father,no,...,50,30,30,10,10,30,40,50,50,60
2,GP,F,U,LE3,T,AT_HOME,OTHER,other,mother,yes,...,40,30,20,20,30,30,100,70,80,100
3,GP,F,U,GT3,T,HEALTH,SERVICES,home,mother,no,...,30,20,20,10,10,50,20,150,140,150
4,GP,F,U,GT3,T,OTHER,OTHER,home,father,no,...,40,30,20,10,20,50,40,60,100,100
5,GP,M,U,LE3,T,SERVICES,OTHER,reputation,mother,no,...,50,40,20,10,20,50,100,150,150,150
6,GP,M,U,LE3,T,OTHER,OTHER,home,mother,no,...,40,40,40,10,10,30,0,120,120,110
7,GP,F,U,GT3,A,OTHER,TEACHER,home,mother,yes,...,40,10,40,10,10,10,60,60,50,60
8,GP,M,U,LE3,A,SERVICES,OTHER,home,mother,no,...,40,20,20,10,10,10,0,160,180,190
9,GP,M,U,GT3,T,OTHER,OTHER,home,mother,no,...,50,50,10,10,10,50,0,140,150,150
10,GP,F,U,GT3,T,TEACHER,HEALTH,reputation,mother,no,...,30,30,30,10,20,20,0,100,80,90
11,GP,F,U,GT3,T,SERVICES,OTHER,reputation,father,no,...,50,20,20,10,10,40,40,100,120,120
12,GP,M,U,LE3,T,HEALTH,SERVICES,course,father,no,...,40,30,30,10,30,50,20,140,140,140
13,GP,M,U,GT3,T,TEACHER,OTHER,course,mother,no,...,50,40,30,10,20,30,20,100,100,110
14,GP,M,U,GT3,A,OTHER,OTHER,home,other,no,...,40,50,20,10,10,30,0,140,160,160
15,GP,F,U,GT3,T,HEALTH,OTHER,home,mother,no,...,40,40,40,10,20,20,40,140,140,140
16,GP,F,U,GT3,T,SERVICES,SERVICES,reputation,mother,no,...,30,20,30,10,20,20,60,130,140,140
17,GP,F,U,GT3,T,OTHER,OTHER,reputation,mother,yes,...,50,30,20,10,10,40,40,80,100,100
18,GP,M,U,GT3,T,SERVICES,SERVICES,course,mother,no,...,50,50,50,20,40,50,160,60,50,50
19,GP,M,U,LE3,T,HEALTH,OTHER,home,father,no,...,30,10,30,10,30,50,40,80,100,100
20,GP,M,U,GT3,T,TEACHER,OTHER,reputation,mother,no,...,40,40,10,10,10,10,0,130,140,150
21,GP,M,U,GT3,T,HEALTH,HEALTH,other,father,no,...,50,40,20,10,10,50,0,120,150,150
22,GP,M,U,LE3,T,TEACHER,OTHER,course,mother,no,...,40,50,10,10,30,50,20,150,150,160
23,GP,M,U,LE3,T,OTHER,OTHER,reputation,mother,no,...,50,40,40,20,40,50,0,130,130,120
24,GP,F,R,GT3,T,SERVICES,HEALTH,course,mother,yes,...,40,30,20,10,10,50,20,100,90,80
25,GP,F,U,GT3,T,SERVICES,SERVICES,home,mother,no,...,10,20,20,10,30,50,140,60,90,80
26,GP,M,U,GT3,T,OTHER,OTHER,home,mother,no,...,40,20,20,10,20,50,20,120,120,110
27,GP,M,U,GT3,T,HEALTH,SERVICES,other,mother,no,...,20,20,40,20,40,10,40,150,160,150
28,GP,M,U,LE3,A,SERVICES,OTHER,home,mother,yes,...,50,30,30,10,10,50,40,110,110,110
29,GP,M,U,GT3,T,TEACHER,TEACHER,home,mother,no,...,40,40,50,50,50,50,160,100,120,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,U,GT3,T,SERVICES,SERVICES,other,mother,no,...,40,30,20,10,30,30,60,130,120,130
620,MS,F,U,LE3,T,AT_HOME,AT_HOME,course,mother,no,...,20,30,40,10,10,10,40,150,140,150
621,MS,F,R,GT3,T,OTHER,SERVICES,course,father,no,...,30,20,20,10,20,30,0,130,130,130
622,MS,M,R,GT3,T,AT_HOME,OTHER,course,mother,no,...,30,30,40,20,40,30,0,80,100,90
623,MS,M,U,LE3,T,TEACHER,SERVICES,other,mother,no,...,40,20,20,20,20,50,0,150,160,160
624,MS,F,R,GT3,T,OTHER,SERVICES,reputation,mother,no,...,50,20,10,10,20,10,0,80,80,90
625,MS,F,U,GT3,T,AT_HOME,SERVICES,course,father,no,...,50,20,30,10,20,40,0,100,100,100
626,MS,F,R,GT3,T,OTHER,TEACHER,other,father,no,...,30,20,20,40,20,50,0,70,50,0
627,MS,M,R,LE3,T,AT_HOME,SERVICES,other,father,no,...,40,30,30,20,30,30,30,90,100,100
628,MS,F,U,GT3,T,OTHER,AT_HOME,home,mother,no,...,30,40,30,10,10,30,80,100,110,120
629,MS,F,R,GT3,T,OTHER,OTHER,course,mother,no,...,30,50,50,10,30,10,40,70,80,90
630,MS,F,R,LE3,T,OTHER,OTHER,reputation,mother,no,...,50,40,40,10,10,10,0,150,170,170
631,MS,F,R,GT3,T,OTHER,OTHER,home,mother,no,...,40,30,20,10,20,40,40,100,110,120
632,MS,F,R,GT3,T,AT_HOME,OTHER,course,other,no,...,40,30,30,10,10,30,40,70,80,90
633,MS,F,R,LE3,T,TEACHER,SERVICES,course,mother,no,...,50,40,30,30,40,20,10,130,140,140
634,MS,F,U,GT3,T,OTHER,OTHER,home,mother,no,...,40,10,30,10,20,10,10,160,160,160
635,MS,F,R,GT3,T,AT_HOME,OTHER,reputation,mother,no,...,40,50,40,20,30,10,100,80,90,90
636,MS,M,U,GT3,T,TEACHER,TEACHER,home,father,no,...,30,20,40,10,40,20,40,170,180,190
637,MS,M,R,GT3,T,OTHER,OTHER,other,mother,no,...,40,40,30,10,30,50,0,70,70,0
638,MS,M,U,GT3,T,OTHER,SERVICES,home,father,no,...,40,40,30,10,10,30,40,140,150,160
639,MS,M,R,GT3,T,OTHER,SERVICES,other,mother,no,...,40,30,20,10,30,50,0,50,80,0
640,MS,M,R,GT3,T,OTHER,OTHER,home,father,no,...,50,40,30,40,30,30,0,70,70,0
641,MS,F,R,GT3,T,AT_HOME,OTHER,other,mother,no,...,50,30,30,10,30,40,0,140,170,150
642,MS,F,U,GT3,T,TEACHER,OTHER,other,mother,no,...,50,50,40,10,10,10,0,60,90,110
643,MS,F,R,GT3,T,TEACHER,AT_HOME,reputation,mother,no,...,40,40,30,20,20,50,40,70,90,100
644,MS,F,R,GT3,T,SERVICES,OTHER,course,mother,no,...,50,40,20,10,20,50,40,100,110,100
645,MS,F,U,LE3,T,TEACHER,SERVICES,course,mother,no,...,40,30,40,10,10,10,40,150,150,160
646,MS,F,U,GT3,T,OTHER,OTHER,course,mother,no,...,10,10,10,10,10,50,60,110,120,90
647,MS,M,U,LE3,T,SERVICES,SERVICES,course,mother,no,...,20,40,50,30,40,20,60,100,100,100
648,MS,M,R,LE3,T,SERVICES,OTHER,course,mother,no,...,40,40,10,30,40,50,40,100,110,110